<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Admin Panel</title>
<link rel="stylesheet" th:href="@{/css/admin.css}">

</head>

<body>
	<label class=fe-label>Freelance Exchange - admin panel</label>

	<div class="clients-panel">
		<label>Clients: </label>
		<div th:each="client : ${clients}" class="client-card">
			<a th:href="@{/client-profile/{id}(id=${client.id})} "
				th:inline="text">[[${client.name}]]</a><span th:inline="text">email:[[${client.email}]]
				</span>
		</div>
	</div>

	<div class="freelancers-panel">
		<label>Freelancers:</label>
		<div th:each="freelancer : ${freelancers}" class="freelancer-card">
			<a th:href="@{/freelancer-profile/{id}(id=${freelancer.id})} "
				th:inline="text">[[${freelancer.name}]] </a><span th:inline="text">email:
				[[${freelancer.email}]] </span>

		</div>
	</div>

	<div class="orders-panel">
		<label>Orders:</label>
		<div th:each="order : ${orders}" class="order-card">
			<a th:href="@{/order/{id}(id=${order.id})} " th:inline="text">[[${order.name}]]</a>
			<span th:inline="text"> budget: [[${order.budget}]] deadline:
				[[${order.deadline}]]</span>

		</div>
	</div>

</body>
</html>
