<!DOCTYPE html>
<html lang="uk">
<head>
<meta charset="UTF-8">
<title>Authorisation</title>
<link rel="stylesheet" th:href="@{/css/auth.css}">

</head>
<body>
	<div class="auth-container">
		<div class="logo" th:text="#{freelancer.exchange}"></div>

		<div class="title" th:text="#{authorisation.title}"></div>

		<form action="/login" method="post">
			<div class="form-group">
				<label class="form-label" for="name"
					th:text="#{authorisation.email}"></label>

				<input class="form-input" type="text" id="email" name="email"
					required>
			</div>

			<div class="form-group">
				<label class="form-label" for="password"
					th:text="#{authorisation.password}"></label>

				<input class="form-input" type="password" id="password"
					name="password" required>
				<label class="error" th:text="${errorMessage}"></label>
			</div>
			

			<div class="form-group">
				<label class="form-label" for="role"
					th:text="#{authorisation.role}"></label>

				<select class="form-search" id="role" name="role" required>
					<option value="" th:text="#{authorisation.search.role}"></option>

					<option value="CLIENT"
						th:text="#{authorisation.client}"></option>

					<option value="FREELANCER"
						th:text="#{authorisation.freelancer}"></option>
				</select>
			</div>

			<button class="apply-btn" type="submit"
				th:text="#{authorisation.login}"></button>

			<div class="helper-link" onclick="location.href='/register'"
				th:text="#{authorisation.no.account}"></div>
		</form>
	</div>
</body>
</html>
