<!DOCTYPE html>
<html lang="uk">
<head>
<meta charset="UTF-8">
<title>Create offer</title>
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/order.css}">
</head>

<body>

	<div class="container order-container">

		<div class="order-top-bar">

			<h2 th:text="#{order.details.title}"></h2>
			<button class="back-btn" onclick="history.back()"
				th:text="#{order.back}"></button>
		</div>

		<form action="/createOrder" method="post">

			<div class="order-section">
				<label class="section-title" th:text="#{create.order.name}"></label>
				<input class="value-block" required type="text" name="orderName"
					th:placeholder="#{create.order.name.placeholder}">
			</div>

			<div class="order-section">
				<label class="section-title" th:text="#{create.order.category}"></label>
				<select class="value-block" required name="categoryId">
					<option th:each="category : ${categories}"
						th:value="${category.id}" th:text="${category.name}"></option>
				</select>
			</div>

			<div class="order-section">
				<label class="section-title" th:text="#{create.order.description}"></label>
				<textarea class="value-block" required name="description"
					th:placeholder="#{create.order.description.placeholder}"></textarea>
			</div>

			<div class="order-section">
				<label class="section-title" th:text="#{create.order.budget}"></label>
				<input class="value-block" required type="number" name="budget"
					th:placeholder="#{create.order.budget.placeholder}">
			</div>

			<div class="order-section">
				<label class="section-title" th:text="#{create.order.deadline}"></label>
				<input class="value-block" required name="deadline" type="date">
			</div>

			<button type="submit" class="green-btn"
				th:text="#{create.order.create}"></button>

		</form>



	</div>

</body>
</html>
