<!DOCTYPE html>
<html lang="uk">
<head>
<meta charset="UTF-8">
<title>Edit order</title>
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/order.css}">

</head>
<body>

	<div class="container order-container">

		<div class="order-top-bar">
			<button class="back-btn" onclick="history.back()"
				th:text="#{order.back}"></button>
			<h2 th:text="#{order.details.title}"></h2>
		</div>

		<form th:action="@{/order/{id}/edit (id=${order.id})}" method="post">
		
			<div class="order-section">
				<label class="section-title" th:text="#{order.name}"></label>
				
				<input required type="text" name="name" th:value="${order.name}"
					class="value-block">

			</div>
			
			<div class="order-section">
				<label class="section-title" th:text="#{create.order.category}"></label>

				<select class="value-block" required name="categoryId">
					<option th:each="category : ${categories}"
						th:selected="${category.id == currentCategory.id}"
						th:value="${category.id}" th:text="${category.name}"></option>
				</select>
			</div>


			<div class="order-section">
				<label class="section-title" th:text="#{order.description}"></label>
				
				<textarea class="value-block" required type="text" name="description"
					th:text="${order.description}" ></textarea>
			</div>


			<div class="order-section">
				<label class="section-title" th:text="#{order.budget}"></label>
				
				<input required type="text" name="budget" th:value="${order.budget}"
					class="value-block">
			</div>


			<div class="order-section">
				<label class="section-title" th:text="#{order.deadline}"></label>
				
				<input required type="date" name="deadline"
					th:value="${order.deadline}" class="value-block">
			</div>

			<button type="submit" th:text="#{save}" class="green-btn">
		</form>


	</div>

</body>
</html>