<!DOCTYPE html>
<html lang="uk">

<head>
<meta charset="UTF-8">
<title>Registration</title>
<link rel="stylesheet" th:href="@{/css/auth.css}">
</head>

<body>

	<div class="auth-container">

		<div class="logo" th:text="#{freelancer.exchange}"></div>

		<div class="title" th:text="#{registration.title}"></div>

		<form th:action="@{/register}" method="post">

			<div class="form-group">
				<label class="form-label" for="name" th:text="#{registration.name}">
				</label>

				<input class="form-input" type="text" id="name" name="name" required>
			</div>

			<div class="form-group">
				<label class="form-label" for="email"
					th:text="#{registration.email}"> </label>

				<input class="form-input" type="email" id="email" name="email"
					required>
			</div>

			<div class="form-group">
				<label class="form-label" for="password"
					th:text="#{registration.password}"> </label>

				<input class="form-input" type="password" id="password"
					name="password" required>
				<label class="error" th:text="${session.errorMessage}"></label>
			</div>
			<div class="form-group">
				<label class="form-label" for="role" th:text="#{registration.role}">
				</label>

				<select class="form-search" id="role" name="role" required>

					<option value="" th:text="#{registration.search.role}"></option>

					<option value="CLIENT" th:text="#{registration.client}"></option>

					<option value="FREELANCER" th:text="#{registration.freelancer}">
					</option>

				</select>
			</div>

			<button class="apply-btn" type="submit"
				th:text="#{registration.register}"></button>

			<div class="helper-link" onclick="location.href='/login'"
				th:text="#{registration.have.account}"></div>

		</form>

	</div>

</body>
</html>